/* HEADER */
:root {
    --dark-brown: #412518;
    --light-brown: #f6f5f3;
    --white: white;
    --light-color: #c88b3d;
    --cards: #eaeaea;
    --bordercards: 20px

} 

header {
    background-color: var(--dark-brown);
    color: var(--white);
    padding: 1% 0.2% 2% 1%;
}

header h1 {
    display: inline-block;
    font-size: 5rem;
}

header h2 {
    margin-left: 1%;
    display: inline-block;
    color: var(--light-color);
    font-size: 3rem;
}

nav ul {
    font-size: 2rem;
    display: flex;
    gap: 3rem;
}

header a:link {
    color: var(--white);
}

header a:visited {
    color: var(--white);
}

/* PERFIL */
.perfil {
    width: 20%;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 50%;
}

/* CONTENT */
.content {
    width: 100%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1% ;
}

/* TITLES */

.about-me h2, .my-work h2, .contact-me h2{
    font-size: 3.5rem;
    color: var(--dark-brown);
    text-decoration: underline;
    margin-top: 1%;
}

/* ABOUT ME */
.about-me p {
    display: flex;
    font-size: 2rem;
    margin-top: 0.5%;
    background-color:var(--cards);
    border-radius: var(--bordercards);
    margin-right: 30%;
}

/* MY WORK */

/* CONTACT ME */
.contact-me a{
    display: block;
}
.contact-me ul{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: var(--dark-brown);
    padding: 0.2% 50px 0.2% 50px;
    margin: 0% 2% 0% 0.2%;
}

.contact-me li {
    color: var(--white);
}

.contact-me a:link {
    color: var(--white);
}

.contact-me a:visited {
    color: var(--white);
}
/* FOOTER */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

/* HOVER
.contact-me a:visited {
    color: var(--light-color);
}